@import "normalize.css";
@import "terminal.css";
@import "./header.css";

:root {
  --font-stack: monospace, sans-serif;
  --mono-font-stack: monospace, sans-serif;
}

.logo,
h1 {
  font-weight: bold;
}

.post-list {
  display: flex;
  flex-direction: column;
  gap: var(--global-line-height);
  margin: 0;
}

.post-listitem {
  display: flex;
  flex-direction: column;
}

.post-info {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--global-line-height);
}

.post-info h1 {
  padding: 0;
}

.post-info time {
  font-weight: normal;
}
